*{
    margin: 0;
    padding: 0;
    
}
.converterWrapper{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    background-color: cyan;
    height: 100%;
}

.converterWrapper .header{
    text-align: center;
    text-transform: capitalize;
    font-size: 32px;
    color: white;
    background-color: darkslategray;
    width: 100%;
}
.converterBox{
    padding: 50px 0px 50px 0px;
}

.converterBox .formWrapper{
    width: 550px;
    height:700px;
    background-color: white;  
    margin-left: auto;
    margin-right: auto;           
    border-radius: 50px 0px 50px 0px;
    padding: 50px 0px 10px 0px;
    
}
 .converterBox .formWrapper .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px  10px 10px;
    width: 100% !important;
    height: 100%;
} 
.inputValidation{
    display: none;
}  
.formWrapper form .inputBox{
 width: 500px;
height: 40px;
background: white;
border:1px solid lightcyan;
text-indent: 30px;
outline: none;
} 
.selectWrapper{
   display: flex;
  gap: 70px;
 

}
/* .selectFrom,.selectTo{
    border: 1px solid gainsboro;
    padding: 5px;
} */
.selectFrom .select-from{
    width: 70px;
    height: 100%;
    border: none;
    outline: none;
    bottom: auto;

}
 .selectTo .select-To{
    width: 70px;
    height: 100%;
    border: none;
    outline: none;
} 

.selectWrapper img{
    width: 40px;
    height: 30px;
}
.Icon{
    margin: 0;
    padding: 0;

}

.Icon i{
    color: darkorange;
    font-size: 25px;
    margin-top: 10px;
    
}
.convertBtn{
    margin: 150px auto 20px auto;    
}